<div class="form-holder wide">
<%= render 'users/user' %>
<p class="psu-heading-2 left"><%= link_to "see posts by #{@user.username}", user_path(@user) %><%= "Posts #{@user.username} Commented On" %></p>

  <div class="user-posts">
    <%@user.commented_posts.uniq.each do |post| %>
      <hr />
        <%= link_to post.title, post_path(post), class: "user-post-title" %>
      <div class="comments-scroll">
        <% post.comments.each do |comment| %>
          <% if comment.user == @user %>
          <p class="user-comment-content">  "<%= comment.content%>"</p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
