<h1>  <%= @user.username %></h1>
<p> Email: <%= @user.email %> </p>
<h2> About <%=@user.username%>:  </h2> <p><%= @user.bio %></p>

<% if matched_user?(@user) %>
  <%=link_to "Edit", edit_user_path%><br>
  <%= button_to "log out", logout_path %>
<% end %>
<br><br>
<%# REMEMBER TO CHANGE THE PATH OF THE PLACEHOLDER  %>
<h3>Posts By <%= @user.username %> | <%= link_to "posts #{@user.username} commented on", posts_path %></h3>
<hr />
<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %><br />
  <hr />
<% end %>
<h3>Commented on Posts</h3>

<%@user.commented_posts.uniq.each do |post| %>
<h1><%= link_to post.title, post_path(post) %></h1>
  <% post.comments.each do |comment| %>
    <% if comment.user == @user %>
    <p>  <%= comment.content%></p>
    <% end %>
  <% end %>
<% end %>
<br />
<br />
<br />
<br />
<p>-------------------------------------------------</p>
<p>DEBUG STUFF</p>
<%= link_to "back to users", users_path %><br />
<%= link_to "back to posts", posts_path %>
<% if logged_in? %>
  <p>I am logged in!</p>
<% end %>
<p>Session id: <%= session[:user_id] %></p>
