<div class="login-create-holder">
  
<% if logged_in? %>
    <p class="psu-heading">share some code</p>
    <%= link_to "create a post", new_post_path %>
  <% else %>
    <p class="psu-heading">log in</p>
    <%= render 'sessions/login_form' %>
  </div>
<% end %>
</div>

<div class="main-posts-holder">
     <% @posts.each do |post| %>
       <div class="post-box">
         <p class="post-title"><%= link_to post.title, post_path(post) %></p>
         <div class="post-links-holder">
           <p class="post-links">
             <%= link_to "view post", post_path(post) %> l 
             <%= pluralize(post.comment_count, "comment")%> l 
             <%= pluralize(post.unique_user_count, "user")%> l 
           </p>
           <p class="post-author"><%= link_to post.user.username, user_path(post.user)%></p>
         </div>
         <hr />
       </div>
     <% end %>
</div>




