<%= link_to "Back to posts", posts_path%><br><br>

<h1><%= @post.title %></h1>
<p>By <%= link_to @post.user.username, user_path(@post.user) %></p>
<p><%= @post.content %></p>
<br />
<br />

<% if logged_in? %>

  <h2>Leave a Comment</h2>
  <% if flash[:comment_warning] %>
    <p><%= flash[:comment_warning] %></p>
  <% end %>

  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :content %><br />
    <%= f.submit "Post Comment" %>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", login_path %> to leave a comment!</p>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <hr />
  <%= comment.content %><br>
  <p>-<%= link_to comment.user.username, user_path(comment.user) %></p>
  <% if matched_user?(comment.user) %>
    <%= button_to "delete", post_comment_path(@post, comment), method: "delete" %>
  <% end %>
  <hr />
<% end %>
<br />
<br />
<br />
<br />

<p>------------------------------------------------------------------------------</p>
<h3>Debugging stuff</h3>
<% if logged_in? %>
  <p>You are logged in and your session id is:</p>
  <%= session[:user_id] %>
<% end %>
