<div class="posts-holder">
  <div class="post-box">
    <p class="post-title"><%= @post.title %></p>
    <p class="post-content"><%= @post.content %></p>
    <% if @post.has_link? %>
      <p class="post-url">
        <%= link_to "visit link", @post.url, target: :_blank %> 
      </p>
    <% end %>
    <p class="post-author-main">
      By <%= link_to @post.user.username, user_path(@post.user) %>
    </p>
    <hr />
  </div>
  <% if logged_in? %>

  <p class="psu-heading-2">Leave a Comment</p>
  <% if flash[:comment_warning] %>
    <div class="notice"><span>*</span><%= flash[:comment_warning] %></div>
  <% end %>

  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :content %><br />
    <button type="submit">post comment</button>
  <% end %>

<% else %>
  <p class="log-in-warning">please <%= link_to "log in", login_path %> to leave a comment</p>
<% end %>

<p class="psu-heading-2 left">comments</p>
<% @post.comments.each do |comment| %>
  <hr />
  <p class="comment-content"><%= comment.content %></p>
  <p class="comment-author">-<%= link_to comment.user.username, user_path(comment.user) %></p> 
  <% if matched_user?(comment.user) %>
    <%= button_to "Delete Comment", post_comment_path(@post, comment), method: "delete" %>
  <% end %>
  <hr />
<% end %>

<% if matched_user?(@post.user) %>
  <br /><br /><br />
  <%= button_to 'Delete Post', post_path(@post), method: 'delete' %>
<% end %>
</div>

