<!DOCTYPE html>
<html>
  <head>
    <title>CodePost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i" rel="stylesheet">
  </head>
  <body>
    <header>
      <p><%= link_to "[code_post]", posts_path, class: "p-heading" %></p>
      <nav>

        <%= link_to "posts", posts_path %>
        <% if logged_in? %>
          <%= link_to current_user.username, user_path(session[:user_id]) %> 
          <%= link_to "log out", logout_path, method: "post" %>
        <% else %>
          <%= link_to "sign up", signup_path %> 
          <%= link_to "log in", login_path %>
        <% end %>
      </nav>  
 
    </header>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
